// out: main.css, compress: true

#main {
    background-color: #f00;
    color: #f00;
    padding: 10px;
    }
 // {asd}asd
.content {
    color: #f00;
    }

@import "child";

@debug 'test';
@warn 'test';
@error 'test';
