#main {
    background-color: #f00;
    color: #f00;
    padding: 10px; }

.content {
    color: #f00; }

.child {
    padding: 10px; }

button {
    color: white; }

.hurra {
    margin: 0;
    position: absolute; }

.foo {
    content: "Hello World!"; }
