
// out: main-scss.css, sourceMap: true, includePath: .\include

#main {
    background-color: #f00;
    color: #f00;
    padding: 10px;
    }
 // {asd}asd
.content {
    color: #f00;
    }

@import "child";

@import "include/include";
.foo {
    content: hello-world();
}
@debug 'debug message';
@debug 'debug message';
@debug 'debug message';
@debug 'debug message';
@warn 'warning message';
@warn 'warning message';
@warn 'warning message';
@warn 'warning message';
// @error 'error message';
