'menu': [ {
    'label': 'Packages'
    'submenu': [
        'label': 'SASS Autocompile'
        'submenu': [
            { 'label' : 'Enable', 'command': 'sass-autocompile:toggle-enabled' }
            { 'label' : 'Output style', 'submenu': [
                { 'label': 'Nested', 'command': 'sass-autocompile:select-output-style-nested', 'type': 'radio' }
                { 'label': 'Compact', 'command': 'sass-autocompile:select-output-style-compact', 'type': 'radio' }
                { 'label': 'Expanded', 'command': 'sass-autocompile:select-output-style-expanded', 'type': 'radio' }
                { 'label': 'Compressed', 'command': 'sass-autocompile:select-output-style-compressed', 'type': 'radio' }
            ] }
        ]
    ]
} ]
